b {
    color: red;
}
i {
    color: blue;
}

h1, h2, h3 {
    color: blue;
    text-align: center;
}

body.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}
body {
    line-height: 30px;
    word-spacing: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-indent: 40px;
    text-align: justify;
}

